
.formlook {
  background: white;
  margin: 25px 50px;
  padding: 35px;
  h1 {
    color: rgb(1, 47, 93);;
  }
  p {
    color: rgb(1, 47, 93);
  }
}

.btn {
background-color: rgb(1, 47, 93);
border-radius: 6px;
}
