
<!-- Hero Banner -->
<div class="hero hero-fluid">
  <div class="container">
    <h1 class="display-4">Rent a Yacht</h1>
    <p class="lead">Explore the seas <br> with our luxurious yachts.<br></p>
    <br>
  </div>
</div>


<section class="sub-banners">

    <div class="sub-banner">
      <div class="sub-banner-content">
        <h2>Explore Yachts</h2>
        <p>Discover beautiful Yacht</p>
      </div>
    </div>

    <div class="sub-banner">
      <div class="sub-banner-content">
        <h2>Sign Up</h2>
        <p>Become part of us</p>
      </div>
    </div>

    <div class="sub-banner">
      <div class="sub-banner-content">
        <h2>Book Now</h2>
        <p>Plan your trip today</p>
      </div>
    </div>
  </section>
