.navbar-lewagon {
  justify-content: space-between;
  background: rgb(1, 47, 93);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  padding: 0px 0px;
}

.navbar-lewagon a {
  color: whitesmoke;
  transition: color 0.3s ease;
}

.navbar-brand {
 width: 40px;
}

.dropdown-menu {
  background: rgb(1, 47, 93);
}

.navbar-toggler {
  background: whitesmoke;
}

.navbar-toggler-icon {
  color: rgb(1, 47, 93);

}

#navbarSupportedContent {
  text-align: right;
  color: yellow;
}


.nav-link {
  color: white;
  transition: color 0.3s ease;
}

.navbar-nav  {
  color: white;
}

.navbar-nav .nav-link:hover {
  color: gold; /* Change to your preferred hover color */
}

.dropdown-menu .dropdown-item:hover {
  background-color: whitesmoke; /* Change to your preferred hover background color for dropdown items */
  color: black; /* Ensure text is readable */
}
