// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background: linear-gradient(to top, #30cfd0 0%, #081b67 100%);;
  background-attachment: fixed;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  color: #012F5D;
}

.bold-roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #012F5D;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #012F5D;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #012F5D;
  font-size: 48px;
}


.container-listing {
  max-width: 650px;
  margin: 60px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.container-listing h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.container-listing h3 {
  color: #555;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.container-listing h4 {
  color: #444;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.container-listing p {
  margin: 5px 0;
  margin-bottom: 20px;
}

.container-listing .booking-image {
  margin-top: 20px;
}

.yacht-photo {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-4 {
  background: white;
  padding: 2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.p-4 input {
  width: 100%;
  max-width: 500px;
}

// body {
//   background: white;
//   font-family: 'Helvetica', sans-serif;
// }
.text-decoration-none {
  text-decoration: none !important; /* Remove underline from links */
}

.card-product {
  overflow: hidden;
  height: auto; /* Adjust height to fit content */
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Add some space between cards */
}

// .card-product img {
//   height: 805px;
//   width: 1200px;
//   object-fit:fill;
// }

.card-product img {
  max-width: 700px; /* Ensures the image does not exceed its container */
  height: auto; /* Maintains aspect ratio */
  object-fit: cover; /* Covers the container while maintaining aspect ratio */
}

.card-product-infos h2 {
  text-align: center;
}

.card-product-infos {
  padding: 20px;
}

.card-product h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  margin-top: 0;
  color: #012F5D;
}

.text-decoration-none {
  text-decoration: none;
}

.text-dark {
  color: #012F5D;
}



/* Responsive design */
@media (max-width: 575px) {
  .cards_grid {
    grid-template-columns: 1fr; /* Stack cards in a single column on small screens */
  }
}

@media (min-width: 576px) {
  .cards_grid {
    grid-template-columns: repeat(auto-fill, minmax(1fr));
    gap: 20px;
    flex-direction: column;
  }
}

/* Media queries for various device sizes (optional: if needed) */
@media (max-width: 768px) {
  .card-product {
    flex-direction: column; /* Example adjustment for smaller screens */
  }
}

@media (min-width: 992px) {
  /* Specific styles for desktops */
}

@media (min-width: 1200px) {
  /* Specific styles for large desktops */
}
